@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #fff;
    min-height: 100vh;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 20px 100px;
    z-index: 1000;
    align-items: center;
    background: #fff;
}
.logo{
    position: relative;
    height: 60px;
    line-height: 60px;
    font-size: 2em;
    letter-spacing: 2px;
    text-decoration: none;
    color:black;
    display: flex;
    padding-left: 20px;
}
.toggle{
    position: relative;
    
    width: 30px;
    height: 30px;
    background: url(assets/menu.png);
    background-size: 30px;
    background-position:center ;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10000;
}
.toggle.active{
    background: url(assets/close.png);
    background-size: 20px;
    background-position:center ;
    background-repeat: no-repeat;
    cursor: pointer;
}
.navbar{
    position: absolute;
    display: flex;
    right: 150px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.navbar.active{
    opacity: 1;
    visibility: visible;
}
.navbar li
{
    list-style: none;
}
.navbar li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin: 0 20px;
    font-weight: 600;
    display: inline-block;
}
.navbar.active li a{
    animation: slideRight 0.5s ease-in-out forwards;
    animation-delay: calc(0.2*var(--i));
}
@keyframes slideRight {
    0% {
      transform: translateX(150px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }